.App {
  display: grid;
  grid-template-areas:
    "header navigation navigation"
    "header articles articles"
    "header articles articles";
  grid-template-columns: 25% auto;
  grid-template-rows: 35% auto;
  height: 100vh;
}