.Navigation {
	display: flex;
	background: #3C464F;
	flex-direction: row;
	justify-content: space-around;
	border: none;
	min-height: 10vh;
}

.nav-btn {
	color: #EBEBEB;
	background: #3C464F;
	border: none;
	font-size: 20px;
}

.nav-btn:hover {
	color: #3C464F;
	background: #EBEBEB;
}