.Navigation {
	grid-area: navigation;
	display: flex;
	background: gray;
	flex-direction: row;
	justify-content: space-around;
}

.nav-btn {
	color: white;
	background: gray;
	border: none;
	font-size: 20px;
}

.nav-btn:hover {
	color: black;
	background: white;
}